<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Grades</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'grades/css/styles.css' %}">
</head>
<body>
  <h1>Notas de estudiantes por curso</h1>
  <table>
    <thead>
        <tr>
          <th>Nombre del estudiantes</th>
          <th>Curso</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
        <tr>
          <td>{{ grade.student.first_name }} {{ grade.student.last_name }}</td>
          <td>{{ grade.course.name }}</td>
          <td>{{ grade.grade }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <button onclick="window.print()">Imprimir notas</button>
  <a href="{% url 'home' %}">Regresar</a>
</body>
</html>
